[data-scroll] {
    transition: opacity 2s;
}

[data-scroll="in"] {
    opacity: 1;
}

[data-scroll="out"] {
    opacity: 0;
}

//banner 
.landing {
    font-size: 16px;
}

.cb-wrapper {
    // display: grid;
    // grid-template-columns: 50% auto;
    position: relative;
    height: 80vh;
    background-image: url("../photo/undraw_logistics.svg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50%, 60%;
    z-index: 1;
    header {
        margin-top: 6rem;
    }
    .company-message {
        position: relative;
        padding: 1rem;
        width: 50%;
        h1 {
            font-size: 58px;
            font-weight: bold;
            box-shadow: 10px;
        }
        h4 {
            word-wrap: break-word;
        }
        .btn-start {
            margin: 1em;
            height: 60px;
            width: 180px;
            font-size: 26px;
            background-color: $primary;
            color: white;
            border-radius: 40px;
        }
    }
    .company-banner {
        background-color: transparent;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;
    }
}

.sec-color {
    color: $secondary;
}

//services
.service {
    text-align: center;
    background-color: #313D3F;
    // background-image: url("../icons/24-hours-delivery.svg");
    // background-repeat: no-repeat;
    // background-size: contain;
    padding: 10em 2em;
    .service-container {
        ul {
            li {
                height: 45vh;
                background-color: white;
                padding: 5em 2em;
                border-radius: 1em;
                margin-bottom: 1em;
                line-height: 1.6;
                z-index: 1;
                .icon-container {
                    img {
                        height: 80px;
                        width: 80px;
                        padding: 0.5em;
                    }
                    display: grid;
                    place-content: center;
                    margin: 0 auto;
                    &.one {
                        width: 45px;
                    }
                }
                .service-title {
                    font-weight: bold;
                }
            }
            // li::after {
            //     content: "";
            //     position: absolute;
            //     background-color: rgb(204, 224, 253);
            //     border-radius: 50%;
            //     height: 30em;
            //     width: 30em;
            //     transform: rotateY(180deg) rotate(10deg);
            //     z-index: 0;
            // }
            // .one::before {
            //     content: "";
            //     position: absolute;
            //     width: 200px;
            //     height: 100px;
            //     border: 5px solid red;
            //     background-color: red;
            //     transform: rotateY(180deg) rotate(10deg);
            //     /* notice the order */
            // }
        }
    }
}

//navigation
.nav-container {
    min-height: 8vh;
    width: 100%;
    padding: 0 6px;
    a {
        color: #777777;
    }
    img {
        height: 70px;
        position: absolute;
        width: 70px;
    }
    header {
        display: flex;
        justify-content: space-between;
        padding: 1.3em 0;
        .logo {
            font-weight: bold;
        }
        .burger {
            float: right;
        }
        ul {
            display: flex;
            a {
                font-size: 18px;
                font-weight: bold;
                display: block;
                padding: 0 .5em;
            }
        }
    }
    .burger div {
        width: 30px;
        height: 4px;
        background-color: $primary;
        margin: 5px;
        transition: all 0.3s ease;
    }
    .burger {
        display: none;
        cursor: pointer;
    }
    .social-header {
        display: none;
        .social-links {
            display: flex;
            a {
                padding-right: 20px;
                img {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }
}

//footer
.footer-wrapper {
    position: relative;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 1;
    padding: 3em 1em 5em 1em;
    bottom: 0;
    .logo {
        text-align: center;
        padding-bottom: 1.5em;
        img {
            height: 50px;
            width: 50px;
        }
    }
    .footer-main {
        font-size: 14px;
        .about,
        .locaiton {
            .title {
                display: flex;
                img {
                    height: 25px;
                    width: 25px;
                }
                h5 {
                    font-size: 16px;
                    font-weight: bold;
                    align-items: center;
                    margin: 3px;
                }
            }
            p {
                margin: 0 2em;
            }
            margin: 1em;
        }
    }
    img {
        height: 37px;
        width: 37px;
    }
    .footer-desc {
        display: flex;
        padding: .5em 0;
        padding: 3em 0;
        justify-content: center;
        ul {
            display: flex;
            li {
                padding-right: 1em;
            }
            a {
                color: $secondary;
            }
            a:hover {
                color: $primary;
            }
        }
    }
    .credit-wrapper {
        width: 100%;
        height: 100px;
        background-color: white;
    }
}

//Our partners 
.partner-wrapper {
    .partner-container {
        background-color: white;
        margin-top: -3rem;
        padding: 7rem 0;
        .partner-title {
            text-align: center;
            padding: 1em;
            h3 {
                font-weight: bold;
            }
        }
        .partner-item {
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, auto);
            img {
                width: inherit;
                align-items: center;
                justify-content: center;
                height: 200px;
                width: 200px;
                padding: 2em;
            }
        }
    }
}

//feature section
.feature {
    position: relative;
    width: 100%;
    height: 92vh;
    padding: 15rem 2em;
    z-index: 1;
    font-size: 13px;
    align-items: center;
    background: url('../photo/undraw_On_the_way_re_swjt.svg');
    background-size: 35% 35%;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 0;
    .feature-header {
        text-align: center;
        margin: 50px 0;
        z-index: 1;
    }
    .feature-item-wrapper {
        padding: 1em;
        .feature-body-item {
            padding-top: 1em;
            display: flex;
            .f-icon {
                flex-basis: 20%;
                margin-right: 1rem;
                a img {
                    height: 50px;
                    width: 50px;
                }
            }
            .fbi-description {
                align-items: center;
            }
        }
    }
    .text-newline {
        margin: 2em;
    }
}

//booking 
.book-wrapper {
    position: relative;
    background-color: #EAEAEA;
    bottom: 0;
    padding: 3em;
    height: 70vh;
    text-align: center;
    background: url('../photo/undraw_deliveries_131a.svg');
    background-size: 35% 35%;
    background-position: left;
    background-repeat: no-repeat;
    h2 {
        font-weight: bold;
        margin: 1em;
        font-size: 48px;
    }
    .links {
        padding: 3em 0;
        padding: 0;
        align-items: center;
        justify-content: center;
        display: flex;
        li {
            display: flex;
            a {}
            p {
                padding-left: 3px;
            }
            img {
                height: 2rem;
                height: 2rem;
            }
            padding-right: 10px;
        }
    }
}

@media only screen and (min-width: 1440px) {
    .service,
    .partner {
        padding: 5em 40em;
    }
    // .nav-container,
    .feature,
    .cb-wrapper {
        padding: 5em 20em;
    }
    .footer-wrapper {
        padding: 2em 20em 5em 20em;
    }
}

@media only screen and (min-width: 1280px) {
    .service,
    .partner {
        padding: 5em;
    }
    .footer-wrapper {
        padding: 2em 8em 5em 8em;
    }
}

@media only screen and (min-width: 860px) {
    body {
        overflow-x: hidden;
    }
    .container {
        padding: 0;
        margin: 0;
    }
    .feature {
        .feature-item-wrapper {
            display: grid;
            grid-template-columns: repeat(2, auto);
            padding: 0;
        }
        .text-newline {
            margin: 0 10rem;
        }
    }
    .service {
        .service-container ul {
            display: grid;
            grid-template-columns: repeat(3, auto);
            grid-gap: 1em;
        }
    }
    .footer-main {
        display: grid;
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (min-width: 643px) {
    .nav-links {
        display: inline-flex !important;
    }
    h5 {
        font-size: 1em;
    }
    p {
        font-size: 12px;
        margin: 0;
    }
    .feature-item-wrapper {
        .feature-body-item {
            display: inline;
        }
    }
}

@media only screen and (max-width: 643px) {
    .cb-wrapper {
        // display: grid;
        // grid-template-columns: 50% auto;
        height: 88vh;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        text-align: center;
        header {
            .company-message {
                position: relative;
                padding: 0rem;
                width: 100%;
                h1 {
                    font-size: 58px;
                    font-weight: bold;
                    box-shadow: 10px;
                }
                h4 {
                    font-size: 20px;
                    word-wrap: break-word;
                }
                .btn-start {
                    margin: 1em;
                    height: 60px;
                    width: 180px;
                    font-size: 26px;
                    background-color: $primary;
                    color: white;
                    border-radius: 40px;
                }
            }
        }
    }
    .feature {
        height: 120vh;
        padding: 0;
        background-size: 400px 300px;
        .feature-header {}
    }
    .nav-container {
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        background-color: white;
        .burger {
            display: block;
        }
        .nav-links {
            position: fixed;
            height: 250vh;
            width: 100%;
            left: 0;
            top: 8vh;
            color: $primary;
            background-color: rgba(0, 0, 0, 0.774);
            z-index: 99;
            display: none;
            text-align: center;
            li a {
                padding: 1em;
                color: white;
            }
        }
    }
    .book-wrapper {
        h2 {
            font-size: 30px;
        }
        .links {
            display: inline-block;
            align-items: center;
            justify-content: center;
            li {
                padding: 0;
                margin: 3px;
            }
        }
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-6px, -7px);
}