@import './_colors';
@import './_landing.scss';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;1,200&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#app {
    * {
        box-sizing: border-box;
        line-height: 1.7;
    }
    color: $black-70;
    font-family: 'Raleway',
    sans-serif;
    line-height: 1.8;
    p {
        color: #747280;
    }
    h1,
    h2 {
        font-weight: 200;
        font-weight: bold;
    }
    h1 {
        font-size: 3.5em;
    }
    h6,
    h5 {
        font-weight: 600;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    .primary {
        color: $primary;
        font-weight: bold;
    }
    .secondary {
        color: $secondary;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
    h3 {
        font-size: 38px;
    }
    h6 {
        font-size: 24px;
    }
    p {
        font-size: 20px;
    }
    .txt {
        font-size: 3rem;
        align-items: center;
    }
    .txt-type {
        text-align: center;
        padding: 0 1.5rem;
    }
    .txt-type>.txt {
        border-right: 0.2rem solid $black-70;
    }
    .img-wrapper {
        img {
            height: 100%;
            width: 100%;
            border-radius: 43px;
        }
    }
    .type-writter-wrapper {}
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 18px;
    }
}