@import './colors';
@import './_landing.scss';
@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,300&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#app {
    font-family: 'Poppins', arial;
    line-height: 1.8;
    p,
    h5 {
        color: #747280;
    }
    h1 {
        font-weight: bold;
    }
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    a {
        text-decoration: none;
    }
    .primary {
        color: $primary;
        font-weight: bold;
    }
    .secondary {
        color: $secondary;
        font-weight: bold;
    }
    p {
        font-size: 16px;
    }
}

@media only screen and (max-width: 500px) {
    body {
        font-size: 18px;
    }
}